* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-family: "Open Sans", sans-serif;
  background: #2c2b3d;

  min-width: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

a {
  color: #ffffff;
}

ul li a {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}

ul li a:hover{
  color: #00BFA6;
}

h1,
ul {
  font-family: "JetBrains Mono", monospace;
}

h1{
  color:#ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

h1 span{
  color: #00BFA6;
}


.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 71px;
}

main {
  display: flex;
}
